@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #06070A;
  --foreground: #171717;
}
*{
  transition: all 0.4s ease;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #06070A;
    --foreground: #ededed;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  @keyframes autoRun {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @keyframes reversePlay {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }

  .animate-scroll {
    animation: autoRun 10s linear infinite;
  }

  .animate-scroll-reverse {
    animation: reversePlay 10s linear infinite;
  }

  .slider {
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  }

}
.no-scrollbar {
  scrollbar-width: none;
  /* Para Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Para Chrome, Safari e Edge */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("/assets/cursor.svg"), pointer;
  image-rendering: pixelated;
}