@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #06070A;
  --foreground: #171717;
}
*{
  transition: all 0.4s ease;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #06070A;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("/assets/cursor.svg"), pointer;
  image-rendering: pixelated;
}